<div class="upcoming-events__event">
    <div class="upcoming-events__img">
        {{content.field_image}}
        {# <img src="assets/img/event_img1.png" alt=""> #}
    </div>
    <div class="upcoming-events__content">
        <div class="upcoming-events__date">{{content.field_event[0]['#markup'] |date('d F Y')}}</div>
        <h3>{{label}}</h3>
            <a href="{{url}}">More details</a>
    </div>
</div>