                <div class="col-md-4">
                    <div class="main-box-img">
                        <div class="img-box">
                            {{content.field_image}}
                            {# <img src="images/Kenya Road.png" alt=""> #}
                        </div>
                        <div class="content-box">
                            <a href="{{url}}"><h4 class="sub-tt">{{label}}</h4></a>
                            <p class="text1">{{content.field_description}}
                            </p>
                        </div>
                    </div>
                </div>